@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
/*rgb 147 86 220*/
/*rgb 255 121 218*/
/*rgb 153 226 208*/
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes img-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.2) translateY(-30px);
    transform-origin: top;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loaderlettre {
  0% {
    font-size: 2.2rem;
    text-shadow: 0px 2px 5px #cfcfcf;
  }
  80% {
    font-size: 1rem;
    text-shadow: none;
  }
  100% {
    font-size: 2rem;
    text-shadow: 0px 2px 5px #cfcfcf;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

main {
  max-width: 1480px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

h2,
h3,
h4,
p {
  margin: 0;
}

.btn-primaire {
  background-image: linear-gradient(-6deg, #9356dc, #ff79da);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 80px;
  min-width: 185px;
  color: white;
  font-size: 1rem;
  transition-duration: 0.2s;
}
.btn-primaire:hover {
  background-image: linear-gradient(-6deg, #9356dc, #99e2d0);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}

.carte {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  background-color: white;
  overflow: hidden;
}
.carte:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.carte-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 175px;
  border-radius: 1rem 1rem 0 0;
}
.carte-img:hover {
  animation: img-top 5s alternate ease-out;
}
.carte-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
  padding: 1rem;
}
.carte:hover span {
  background-color: white;
}
.carte-info-quartier {
  padding-top: 0.3rem;
  font-size: 1rem;
  font-weight: 300;
}
.carte-info-coeur {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nouveau {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99e2d0;
  color: #008766;
  font-size: 0.9rem;
  padding: 0.3rem 0.8rem;
  border-radius: 2px;
}

.fa-stack-1x {
  font-size: 1.5rem;
  color: black;
  opacity: 1;
  position: relative;
}

.fa-stack-2x {
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0;
  transition-duration: 0.5s;
}
.fa-stack-2x:hover {
  opacity: 1;
  background: -webkit-linear-gradient(right, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plat {
  display: flex;
  padding: 1rem 0.8rem;
  margin: 1rem 0;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  animation: slide-in-bottom 0.7s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: both;
}
.plat:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
.plat-contenu {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat-titre {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat-text {
  font-size: 1rem;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat-prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 700;
  margin-right: 1rem;
}
.plat-select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  margin-right: -5rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  background-color: #99e2d0;
  transition-duration: 0.5s;
}
.plat:hover .plat-select {
  margin-right: -1rem;
}
.plat-icon {
  color: white;
  font-size: 1.4rem;
  transform: rotate(0);
  transition-duration: 0.5s;
}
.plat:hover .plat-icon {
  transform: rotate(360deg);
}

.position-0 {
  animation-delay: 0s;
}

.position-1 {
  animation-delay: 0.1s;
}

.position-2 {
  animation-delay: 0.2s;
}

.position-3 {
  animation-delay: 0.3s;
}

.position-4 {
  animation-delay: 0.4s;
}

.position-5 {
  animation-delay: 0.5s;
}

.position-6 {
  animation-delay: 0.6s;
}

.position-7 {
  animation-delay: 0.7s;
}

.position-8 {
  animation-delay: 0.8s;
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  opacity: 1;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 13rem;
  animation: loader 0.2s 3s both;
}
.loader-lettres {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lettre {
  font-family: "shrikhand";
  font-size: 2rem;
  animation: loaderlettre 1.3s 10 both;
  letter-spacing: 3px;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordre-1 {
  animation-delay: 0.1s;
}

.ordre-2 {
  animation-delay: 0.2s;
}

.ordre-3 {
  animation-delay: 0.3s;
}

.ordre-4 {
  animation-delay: 0.4s;
}

.ordre-5 {
  animation-delay: 0.5s;
}

.ordre-6 {
  animation-delay: 0.6s;
}

.ordre-7 {
  animation-delay: 0.7s;
}

.ordre-8 {
  animation-delay: 0.8s;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) 10 both;
  border-color: #99e2d0 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.header {
  padding: 1rem 1rem 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-logo {
  font-family: "Shrikhand";
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.header-retour {
  position: absolute;
  left: 2rem;
  top: 56%;
  transform: translateY(-50%);
}

.footer {
  background-color: #353535;
  max-width: 1480px;
  margin: auto;
}
.footer-liens {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 2rem 1.5rem;
}
.footer-lien {
  margin-bottom: 0.6rem;
  max-width: 250px;
}
.footer-logo {
  color: #ffffff;
  font-family: "Shrikhand";
  font-weight: 300;
  padding-bottom: 1.5rem;
  max-width: 250px;
}
.footer-icon {
  color: #ffffff;
  font-size: 1rem;
  padding-right: 0.6rem;
}
.footer-icon2 {
  color: #ffffff;
  font-size: 0.65rem;
  padding-right: 0.6rem;
}
.footer-text {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0.6rem;
  max-width: 250px;
}
.footer-text:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .exploration {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .local-explor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
  }
}

.localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  font-weight: 500;
  width: 100%;
}
.localisation-text {
  margin-left: 1rem;
}

.reserver {
  background-color: #faf6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem 3.5rem 0.5rem;
  text-align: center;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .reserver {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2.5rem 1rem 4.5rem 1rem;
  }
}
.reserver-titre {
  margin-bottom: 1rem;
}
.reserver-text {
  margin: 0;
  padding: 0 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.fonctionnement {
  padding: 2rem 1.3rem;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem 1.3rem;
  }
}
.fonctionnement-etapes {
  display: block;
  padding: 0;
  counter-reset: compteur;
}
@media screen and (min-width: 768px) {
  .fonctionnement-etapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
.fonctionnement-etape {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.8rem 0rem 1.8rem 2rem;
  margin: 1.5rem 0 1.5rem 0.8rem;
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  font-weight: 500;
  transition-duration: 0.2s;
}
.fonctionnement-etape:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .fonctionnement-etape {
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
.fonctionnement-etape:hover {
  background-color: #f5edff;
}
.fonctionnement-etape:hover i {
  color: #9356dc;
}
.fonctionnement-etape::before {
  counter-increment: compteur 1;
  content: counter(compteur) " ";
  background-color: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 400;
  padding-top: 0.2rem;
  box-sizing: border-box;
  position: absolute;
  left: -0.8rem;
}
.fonctionnement-icon {
  color: #7e7e7e;
  margin-right: 1rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1.5rem 4rem 1.5rem;
}
.restaurants-titre {
  padding: 1.5rem 0;
}

.cartes {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.3rem;
}
@media screen and (min-width: 768px) {
  .cartes {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.menu-img {
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  margin-top: -3rem;
  position: relative;
}
.menu-top-titre {
  font-family: "Shrikhand";
  font-size: 1.6rem;
  font-weight: 400;
}

.menu-listes {
  display: grid;
  background-color: #f6f6f6;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .menu-listes {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

.menu-liste {
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow: hidden;
}
.menu-liste-titre {
  padding-left: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  position: relative;
}
.menu-liste-titre::after {
  content: "";
  width: 2.5rem;
  height: 0.19rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0.5rem;
  bottom: -0.4rem;
}

.commander {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

/*
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/

/*# sourceMappingURL=style.css.map */
