body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  box-sizing: border-box;
  max-width: 1480px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}

h2,
h3,
h4,
p {
  margin: 0;
}
