.exploration {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.local-explor {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
  }
}

.localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  font-weight: 500;
  width: 100%;

  &-text {
    margin-left: 1rem;
  }
}

.reserver {
  background-color: #faf6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem 3.5rem 0.5rem;
  text-align: center;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2.5rem 1rem 4.5rem 1rem;
  }
  &-titre {
    margin-bottom: 1rem;
  }
  &-text {
    margin: 0;
    padding: 0 0 2rem 0;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.fonctionnement {
  padding: 2rem 1.3rem;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem 1.3rem;
  }

  &-etapes {
    display: block;
    padding: 0;
    counter-reset: compteur; //creer compteur de liste dans le parent ol
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
    }
  }

  &-etape {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.8rem 0rem 1.8rem 2rem;
    margin: 1.5rem 0 1.5rem 0.8rem;
    border-radius: 20px;
    @include boxshadow;
    font-weight: 500;
    transition-duration: 0.2s;
    @media screen and(min-width:768px) {
      width: 80%;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }

    &:hover {
      background-color: #f5edff;

      i {
        color: $color-primaire;
      }
    }

    &::before {
      counter-increment: compteur 1; //initialiser le compteur à 1 sur les li
      content: counter(compteur) " "; //incrementer le compteur
      background-color: $color-primaire;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: 400;
      padding-top: 0.2rem;
      box-sizing: border-box;
      position: absolute;
      left: -0.8rem;
    }
  }
  &-icon {
    color: #7e7e7e;
    margin-right: 1rem;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1.5rem 4rem 1.5rem;

  &-titre {
    padding: 1.5rem 0;
  }
}

.cartes {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.3rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
