//animation chargement page restaurent
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//animation photos restaurents
@keyframes img-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.2) translateY(-30px);
    transform-origin: top;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

//animation lettre loader
@keyframes loaderlettre {
  0% {
    font-size: 2.2rem;
    // color: $color-primaire;
    text-shadow: 0px 2px 5px #cfcfcf;
  }
  80% {
    font-size: 1rem;
    // color: $color-primaire;
    text-shadow: none;
  }
  100% {
    font-size: 2rem;
    // color: $color-primaire;
    text-shadow: 0px 2px 5px #cfcfcf;
  }
}

//animation spin loader
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
