@mixin boutongradient {
  background-image: linear-gradient(-6deg, $color-primaire, $color-secondaire);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 80px;
  min-width: 185px;
  color: white;
  font-size: 1rem;
  transition-duration: 0.2s;

  &:hover {
    background-image: linear-gradient(-6deg, $color-primaire, $color-tertiare);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
  }
}

@mixin boxshadow {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition-duration: 0.2s;
  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  }
}

@mixin carterestaurent {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 1rem;
}

@mixin cartemenu {
  display: flex;
  padding: 1rem 0.8rem;
  margin: 1rem 0;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
}

@mixin textcache {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin slide-in-bottom {
  animation: slide-in-bottom 0.7s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: both;
}
